
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #0d0d0d;
}



body {
  color: #e6e6e6;
  font-family: 'Orbitron', sans-serif;
}

nav {
  background-color: #1a1a1a;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #39ff14;
  margin: 0 10px;
  text-decoration: none;
  font-size: 1.2em;
}

nav a:hover {
  text-decoration: underline;
}

button {
  background-color: #222;
  color: #39ff14;
  border: 2px solid #39ff14;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 5px;
}

button:hover {
  background-color: #39ff14;
  color: #222;
}

input,
select {
  background-color: #1a1a1a;
  color: #e6e6e6;
  border: 1px solid #39ff14;
  padding: 8px;
  margin: 5px 0;
  border-radius: 3px;
}

h1, h2, h3, h4, h5 {
  color: #39ff14;
  text-shadow: 0px 0px 5px #39ff14;
}

.container {
  padding: 20px;
  min-height: 100%;
}

form {
  background-color: #1a1a1a;
  padding: 20px;
  border: 1px solid #39ff14;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #39ff14;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

img.exam-image {
  border: 2px solid #39ff14;
  padding: 5px;
  background-color: #0d0d0d;
  max-width: 100%;
}
